body 
{
    background-color: #283618;
    color: #FEFAE0;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Inter';
    color: #FEFAE0;
}

#loginDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #BC6C25;
    font-family: 'Inter';
}

#loggedInDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #BC6C25;
    font-family: 'Inter';
}

#accessUIDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #BC6C25;
    font-family: 'Inter';
}

#searchDiv
{
	display: flex;
	align-items: stretch;
    font-family: 'Inter';
}

#searchDiv * {
	align-self: center;
	margin: 0;
    font-family: 'Inter';
}


table {
	width: 100%;
	background-color: white;
	color: black;
    font-family: 'Inter';
}
th{
	color: white;
	background-color: DarkSlateGray;
    font-family: 'Inter';
}
tr:nth-child(odd) {
	background-color: Gainsboro;
}


.buttons {
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: 'Inter';
    background-color: #606C38;
    color: #FEFAE0;
    border: black;
}


.buttons:hover{
    background-color: #00d5124f;
    color: #306e2b;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
    font-family: 'Inter';
}
#loginPassword
{
	font-size: 30px;
    font-family: 'Inter';
}
#searchText
{
	font-size: 30px;
    font-family: 'Inter';
}
.textField
{
	font-size: 30px;
    font-family: 'Inter';
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Inter';
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Inter';
    color: #FEFAE0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Inter';
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-family: 'Inter';
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
    font-family: 'Inter';
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Inter';
}

#contactSearchResult{
    display: none;
    font-family: 'Inter';
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Inter';
    color: #95060a;
}


.invalidField
{
	background-color: LightPink;
    font-family: 'Inter';
}
