body 
{
    background-color: #283618;
    color: #FEFAE0;
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    color: #FEFAE0;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #BC6C25;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #BC6C25;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #BC6C25;
}

#searchDiv
{
	display: flex;
	align-items: stretch;
}

#searchDiv * {
	align-self: center;
	margin: 0;
}


table {
	width: 100%;
	background-color: white;
	color: black;
}
th{
	color: white;
	background-color: DarkSlateGray;
}
tr:nth-child(odd) {
	background-color: Gainsboro;
}


.buttons {
    font-weight: 500;
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    background-color: #606C38;
    color: #FEFAE0;
    border: black;
}


.buttons:hover{
    background-color: #00d5124f;
    color: #306e2b;
    border: black;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
.textField
{
	font-size: 30px;
}

input[type="text"],input[type="password"],input[type="tel"]{
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
    color: #FEFAE0;
    text-align: center;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    margin-left: 40%;
    border: black;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
}

#contactSearchResult{
    display: none;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #95060a;
}


.invalidField
{
	background-color: LightPink;
	border-color: red;
}
