body 
{
    background-color: #606C38;
    color: #FEFAE0;
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

#title 
{
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: #FEFAE0;
}

#loginDiv {
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    background-color: #BC6C25;
    text-align: center;
}

#registerDiv {
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    background-color: #BC6C25;
    text-align: center;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin: 0 auto;      /* ← THIS */
    padding: 25px;
    background-color: #BC6C25;
    text-align: center; /* optional but recommended */
}


#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin: 0 auto;      /* ← THIS */
    padding: 25px;
    background-color: #BC6C25;
    text-align: center; /* optional but recommended */
}

#searchDiv {
    display: flex;
	width: 100%;
}

#searchDiv * {
	align-self: center;
	margin: 0;
}


table {
	width: 100%;
	background-color: white;
	color: black;
}
th{
	color: white;
	background-color: DarkSlateGray;
}
tr:nth-child(odd) {
	background-color: Gainsboro;
}


.buttons {
    font-weight: 500;
    font-size: 30px;
    border-radius: 50px;
    width: 50%;
    background-color: #606C38;
    color: #FEFAE0;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.buttons:hover{
    background-color: #00d5124f;
    color: #306e2b;
    border: 2px solid black;
    opacity: 50%;
}

#loginName
{
	font-size: 30px;
}
#loginPassword
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
.textField
{
	font-size: 30px;
}

::placeholder { /* text field hints */
	color: LightGray;
}

input[type="text"],input[type="password"],input[type="tel"]
{
    border-radius: 2.5vw;
    text-align: center;
    width: 80%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inner-title {
    display: block;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2%;
    color: #FEFAE0;
}


#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-bottom: 2%;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    text-align: center;
}

#logoutButton{
    width: 20%;
    border: black;
}

select{
    width: 30%;
    margin-top: 2%;
    font-size: 0.75em;
}

#contactSearchResult{
    display: none;
}

#contactAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #95060a;
}


.invalidField
{
	background-color: LightPink;
	border-color: red;
}
.validField
{
	border-color: green;
}
